.App {
  overflow-y: scroll;
  font-family: "Courier New", Courier, monospace;
  width: 100vw;
  font-size: 20px;
  color: white;
}

.header-container {
  display: flex;
  position: fixed;
  height: 50px;
  z-index: 1;
  background-color: #2c2d31;
  width: 100vw;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
}

.header {
  color: #3895d3;
  text-decoration: none;
  font-size: 35px;
  font-weight: bold;
  width: max-content;
  height: max-content;
  margin: auto;
}

.header:hover {
  color: white;
}

.user-status-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.message-container {
  width: 90vw;
  margin: auto;
  text-align: center;
}

.dashboard-container {
  overflow-x: hidden;
  margin-top: 75px;
}

.form-container {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100vw;
}

.auth {
  text-align: center;
  max-width: min-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25vh;
}

.edit,
.add-shift {
  text-align: center;
  max-width: min-content;
  margin-left: auto;
  margin-right: auto;
}

.auth > .form > input[type="submit"],
.edit > .form > input[type="submit"],
.add-shift > .form > input[type="submit"] {
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form > input {
  width: 75vw;
  max-width: 300px;
  border: solid 2px white;
  border-radius: 4px;
  background-color: rgba(255, 255, 255, 0.8);
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-weight: bold;
  display: list-item;
  padding: 10px;
  margin-top: 20px;
}

.form > input:focus {
  outline: solid 4px #3895d3;
}

.form > input[type="submit"] {
  border: none;
  border-radius: 4px;
  background-color: white;
  padding: 0px 10px;
  font-weight: bold;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.form > input[type="submit"]:hover {
  background-color: #3895d3;
  color: white;
  border-bottom: 5px solid white;
}

.auth-toggle-container {
  margin-top: 50px;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.auth-toggle {
  border: none;
  border-radius: 4px;
  background-color: white;
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  font-style: italic;
  font-weight: bold;
  padding: 0px 10px;
}

.auth-toggle:hover {
  background-color: #3895d3;
  color: white;
  border-bottom: 5px solid white;
}

.auth-toggle:focus {
  outline: none;
  border: solid 4px white;
}

.error-message {
  color: #ed4337;
  font-weight: bold;
}

a[id="logout"],
a[id="org-action"],
a[id="org-action close"] {
  border-radius: 4px;
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
  margin-right: 20px;
  background-color: white;
}

a[id="org-action"]:hover,
a[id="logout"]:hover,
a[id="org-action close"]:hover {
  background-color: #3895d3;
  color: white;
  border-bottom: 5px solid white;
}

h2[id="org-name"] {
  transform: translate(5px, -5px);
  background-color: #3895d3;
  max-width: max-content;
  padding: 5px 10px;
}

.my-orgs-container {
  background-color: #2c2d31;
  margin-top: 50px;
  border-top: 2px solid #3895d3;
  border-bottom: 2px solid #3895d3;
}

.org-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  background-color: #46484e;
  border-radius: 20px;
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45);
}

.org-container:hover,
.org-container:active {
  transform: scale(1.01);
  /* box-shadow: 0px 0px 18px 0px rgba(0, 0, 0, 0.45); */
}

@media (min-width: 651px) {
  .org-container {
    max-width: 585px;
  }
}

@media (max-width: 651px) {
  .org-name-container,
  .shift-header-container,
  .edit-org-header-container {
    width: 90%;
  }
}

.org-contents-container {
  position: relative;
  height: max-content;
}

.org-actions-container {
  max-width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.org-actions-container > a:last-child {
  margin-right: 0px;
}

.close-button-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
}

.shifts-table-container {
  width: 90vw;
  margin-left: auto;
  margin-right: auto;
  overflow-x: auto;
}

.shifts-table {
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}

.category-cell,
.shift-cell {
  text-align: center;
  padding: 10px;
}

.category-cell {
  font-weight: bolder;
  background-color: #46484e;
}

.shift-row {
  color: black;
  font-size: 15px;
  background-color: rgba(255, 255, 255, 0.9);
}

.shift-row.user-shift {
  color: white;
  font-weight: bold;
  background-color: #3895d3;
}

.shift-row.user-shift > .shift-cell:first-child {
  border-left: solid 5px tomato;
}

.org-name-container,
.shift-header-container,
.edit-org-header-container,
.add-shift-header-container {
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  max-width: max-content;
}

.shifts-header,
.edit-org-header,
.add-shift-header {
  margin-top: 50px;
  transform: translate(5px, -5px);
  background-color: #3895d3;
  max-width: max-content;
  min-width: min-content;
  padding: 5px 10px;
}

.form.edit-org > input:nth-child(2) {
  margin-bottom: 30px;
}

.add-shift > input {
  margin-bottom: 30px;
}
