.App {
  font-family: "Courier New", Courier, monospace;
  font-size: 20px;
  margin-left: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
  color: white;
}

.header {
  color: #3895d3;
  font-size: 45px;
  font-weight: bold;
}

.form-container {
  margin-top: 50px;
  width: 100vw;
}

.form > input {
  font-family: "Courier New", Courier, monospace;
  font-size: 25px;
  font-weight: bold;
  display: list-item;
  padding: 10px;
  margin-top: 20px;
}

.form > input[type="submit"] {
  padding: 5px 10px;
  font-weight: bold;
}

.auth-toggle {
  font-style: italic;
  font-family: "Courier New", Courier, monospace;
  margin-top: 50px;
  padding: 5px 10px;
}

.error-message {
  color: #ed4337;
  font-weight: bold;
}

a[id="logout"],
a[id="org-action"] {
  padding: 0px 10px;
  text-decoration: none;
  color: black;
  font-weight: bold;
  font-style: italic;
  margin-right: 20px;
  background-color: white;
}

a[id="org-action"]:hover,
a[id="logout"]:hover {
  background-color: #3895d3;
  color: white;
  border-bottom: 5px solid white;
}

h2[id="org-name"] {
  margin-bottom: 5px;
}

.my-orgs-container {
  margin-top: 50px;
  border-top: 5px solid #3895d3;
  border-bottom: 5px solid #3895d3;
}

.org-container {
  margin-top: 50px;
  margin-bottom: 50px;
}
